<% if @element.is_a?(Array) %>
	<% if @element[1].is_a?(Song) %>
		<h1>Song Task: <%= @element[1].title %></h1>
	<% else %>
		<h1>Project Task: <%= @element[0].name %></h1>
	<% end %>
<% else %>
	<h1>New Task</h1>
<% end %>

<%= render 'form' %>