// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.tabs-container {
	outline: 1px solid #CCC;
	margin-bottom: 8px;
}

dl.accordion {
	div.content {
		padding: 6px;
	}
}

@media only screen and (min-width: 960px) {
	#song_lyrics {
		min-height: 500px;
	}
}

@media only screen and (max-width: 959px) {
	#song_lyrics {
		min-height: 150px;
	}
}